.pagination {
    display: flex;
    padding-left: 0;
    font-size: 14px;
    margin: 20px auto 0 auto;
    justify-content: center;
}
.breadcrumb, .pagination {
    border-radius: 2px;
    list-style: none;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0f172a;
    border-color: #0f172a;
}

.page-link {
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0f172a;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link:hover {
    z-index: 2;
    color: #000;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link:focus {
    color: #0f172a;
    background-color: #fff;
    border: 1px solid #dee2e6;
    outline: none;
    box-shadow: none;
}
ul.pagination {
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
}
