body {
    min-height: 100vh;
    background-image: url('../assets/background-resized.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    word-break: break-word;
}