#deletePopup {
    width: 600px;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin-top: -150px;
    margin-left: -300px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    row-gap: 10px;
}
#bookingPopupInner {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;
}
#popup-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}
#btnOuterWrapper, #btnLockedOuterWrapper {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    margin-top: 10px;
}
.del-popup-btn {
    margin-top: 20px;
    border-color: #4cae4c;
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 0;
    width: 150px;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#close-btn {
    background-color: gray;
}
.del-popup-btn {
    color: #fff;
    background-color: #5cb85c;
}
#cross {
    position: absolute;
    right: 15px;
    top: 15px;
}
#cross i {
    color: gray;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    #deletePopup {
        width: 350px;
        height: auto;
        margin-left: -175px;
        margin-top: -250px;
        padding: 50px 30px;
        align-items: center;
    }
    #popup-heading {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #btnOuterWrapper {
        margin-top: 0;
    }
    #bookBtn, #bookCancelBtn {
        width: 120px;
    }
}